.admintitle
{
		
		background-color:#530602;
		color:#fff;
		margin-left:70px;
		margin-right:70px;
		height:60px;
		line-height:60px;

}	


.dashboard
{
		background-color:yellow;
		color:#000;
		margin-left:70px;
		margin-right:70px;
		height:90px;
		/*font-size:100px;*/
}	
	
	
	
	